@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
#sidebar a.active {
    color: #0063d6;
}

body, html {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

svg.star-svg {
    display: inline;
}